.header {
  @include flex_space_between;
  padding: 30px 0;
  a {
    color: white;
  }
  .link {
    padding: 15px;
  }
  .left {
    @include flex_start;
    width: 75%;
  }
  .right {
    @include flex_end;
    width: 25%;
    .cart {
      padding: 15px;
    }
  }
}
